body {
    margin: 0;
    font-family: sans-serif;
    background-color: #fbfcfc; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /* Style for the main container */
  main {
    text-align: center;
  }

  p {
    color: #333333;
    font-size: 22px;
  }
  /* Style for the main container end */
  ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }
  /* Style the navigation bar */
  .navbar {
    display: flex;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
  }
  .navbar ul {
      display: flex;
      margin: 0px;
      padding: 10px;
  }
  .navbar li {
      margin-right: 20px;
  }
  .navbar a {
      text-decoration: none;
      color: #fff;
  }
  /* Style the logo */
  .navbar .logo {
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      padding: 5px;
  }
  /* Style for navigation bar end */

  /* Style for text */
  #promo {
    max-width: 80%;
    margin: 0 auto;
  }

  #categories {
    padding-top: 80px; 
    padding-bottom: 40px; 
    max-width: 60%; 
    margin: auto;
    color: black; 
    font-size: 40px;
  }
  /* Style for text */

  /* Style for images */
  .main-img {
    width: 50%; 
    height: 50%;
  }
  
  .image-container {
    display: flex;
    justify-content: space-between; /* Adjust this to change the spacing between images */
    flex-wrap: wrap; /* Allow images to wrap to the next line if necessary */
  }

  .image-box {
    max-width: 33%; 
    height: 100%; 
    overflow: hidden; /* Crop images that exceed the fixed height */
    text-align: center; /* Center the text within the container */
    position: relative; /* Position the description relative to the image */
  }

  .image-box img {
      width: 100%; /* Make the image fill the container width */
      height: 100%; /* Maintain aspect ratio */
  }

  .description {
      position: absolute; /* Position the description relative to the image-box */
      top: 0; /* Position it at the top of the image-box */
      
      background-color: rgba(0, 0, 0, 0.7); /* Add a semi-transparent background for better readability */
      color: white;
      padding: 5px;
  }
  /* Style for image container end */
